**Learning Objectives**
* What is DataFrame?
* Create a DataFrame

# 
**What is a DataFrame?**
* Two dimensional table
* Made up of a collection of **Series**
* Structured with labeled axes (rows and columns)
* A data frame looks like a table 

# 
**Create a DataFrame**

In [16]:
import pandas as pd
code1 = "AGCT"
code2 = "AGUC"
code3 = "XYZ"
#AGCT = 1
#AUCG = 2
#XYZ = 3
data = [[100, "DNA", code1],
       [50, "RNA", code2],
       [25, "Amino acid", code3]]

pd.DataFrame(data,columns = ['Frequancy', 'Molecules', 'Code'], index = [1,2,3])

   Frequancy   Molecules  Code
1        100         DNA  AGCT
2         50         RNA  AGUC
3         25  Amino acid   XYZ

In [15]:
# Try creating a dataframe using a NumPy array
data = [[1000, "steve", 86],
       [500, "Mathew", 91],
       [250, "Patty", 69],
        [150, "Vin", 88]]

pd.DataFrame(data, columns = ['Regd_No', "Name", 'Marks%'], 
             index = [1,2,3,4])

   Regd_No    Name  Marks%
1     1000   steve      86
2      500  Mathew      91
3      250   Patty      69
4      150     Vin      88

Don’t like python default index starting from ‘0’? Well, you can give your own column and row indexes

In [18]:
# You can create a dataframe using dictionary
data = { "Reg_No": [1,2,3,4,5],
        "Name": ["Aman", 'Saurabh',"Faiz", "Ashruti","Adarsh"],
        "Marsk": [80, 90,70, 75, 99]}

pd.DataFrame(data, index=[1,2,3,4,5])

   Reg_No     Name  Marsk
1       1     Aman     80
2       2  Saurabh     90
3       3     Faiz     70
4       4  Ashruti     75
5       5   Adarsh     99

**A Column is a Series?**
* A DataFrame is a collection of series.
* A series is a column in a table or a dataframe.
<img align = "right" Width = "200" height = "200" src = "https://lh5.googleusercontent.com/qstfa6-YMiX5sLJ0pb5JQjZHTo95CPI71yVOkhUXlD12eN-vaMNr06KIrXMig0GGrdr3cWUSxytsApIpxBfFFdErOmmEbmsU8isuwouERMv2umdFDmQveaEXOzchb7g3-OTg--BiloU=s0">