**Learning Objectives**
* What is Series?
* Create a Series


**Pandas Objects** 
Before we dive into series, let’s do a quick recap of pandas ‘objects’. At the core of the pandas library there are two fundamental data structures/objects:
* Series
* Data Frames

# 
**What is Series?**
* A one dimensional labeled array
* Can hold data of any type
* Are like a column in a table

# 
**What can a Series have?**
* A Series can have all the elements as numbers in it
<img Align = "right" width = "150" height = "150" src = "https://lh5.googleusercontent.com/wO7QsugVe6WveW19Lh-3MwJw-LAj3LOuUXb7--B0V8kn_7eftXtQ9efShIc11bFDSFmhQGZGFZhTb8ACBsSdI0On6baZy_39h4uuKB8ic75zSEgIwhTwSlZpb9Amd15dAABvsYyC4WY=s0">

* A Series can have all the elements as strings in it
<img Align = "right" width = "150" height = "150" src ="https://lh6.googleusercontent.com/ZHePfrOzeMJZoda-jkSbq2JLV4cKm65wK5nqLF3ibK6pS2BLKeap1yjmjFLnI-24G7WbSm79yEr09FrrwI__d3fs-sqikB_fWHkIWBMm1bljR3zIngmq_-39PVqbEgXwVxDNKRNh6XA=s0">

* A Series can have its elements as both numbers and strings. 
* But the data type of the Series is always ‘object’ in this case
<img Align = "right" width = "150" height = "150" src ="https://lh5.googleusercontent.com/uIqEeI5kk1werkquq42aBS1pLFmmn09KZ6MbDpXxRH0F5USlVEY-xroPA1xyTluURGri9AUx_blS1oRrg5lXfPj65mSIRFWUjI6nBJTLh-_IqCtoCiPpUmLheMo0HqcwnQgmRSPvFAU=s0">

* Series is like a list in Python which can take any type of value like integer, strings, float (or decimal value), etc
* All the items in series are labeled with indexes
* By default indexing starts from 0 in Series. 
<img Align = "right" width = "150" height = "150" src ="https://lh6.googleusercontent.com/-cog8I5vTSgmz42KFjWa1pZa1v9ooH7W2aLf5-WLXAc3tWgMvR1XOOX4GlZBEn6elKfQv1n82H5HDUi8D9ALipu-BFRvfKqlQql5k_FB6HFN0Z2vP-h_oP8zPgIkYhdtPBwGdrUu9Ew=s0">

* Indexes that Python Understand: 

<img Align = "left" width = "400" height = "400" src ="https://lh3.googleusercontent.com/jmxuTB9yjDwpmFoortAI6a9ssLbrzAZkC05j8lp5735QcW8nvfL_UsWPYDogKFq3tAOtfCEco00wIpmV5Ncsju0gqdztWp_zDDa6vtq2HvDENZZ5sxCIbT8dZsVshRiBW-q4asIXxIY=s0">

**Create a Series**

In [6]:
import pandas as pd

In [8]:
# You can create your own Series using list
series = [1,2,3,4,5,6,7,8,9,10]
pd.Series(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
type(series)

list

In [14]:
# You can create your own Series using a dictionary
code_one = "AGCT"
code_two = "AGUC"
code_three = "XYZ"
Molecules = {'DNA': code_one, "RNA": code_two, "Amino acid": code_three}
pd.Series(Molecules)

DNA           AGCT
RNA           AGUC
Amino acid     XYZ
dtype: object