**Attributes of Dataframe**

# 
These are the attributes of the dataframe for EDA:
* tail
* head
* info
* type
* columns
* axes
* dtypes
* size
* shape
* ndim
* empty
* T
* values
* describe

**Importing The Libraries**

In [13]:
import pandas as pd
import numpy as np

**Reading The Datasets**

In [29]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [55]:
# head() attribute for top most elements
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [35]:
# tail() attribute for top most from bottom
chipo.tail(3)

,order_id,quantity,item_name,choice_description,item_price
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [31]:
# shape attribute
chipo.shape[0] # no of rows

4622

In [32]:
chipo.shape[1] # no of columns

5

In [36]:
# type attribute
type(chipo)

pandas.core.frame.DataFrame

In [41]:
# dtype
chipo.dtypes # for data types of each column.

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [39]:
# info()
chipo.info() # This method will return you a concise summary about the dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [43]:
# ndim: ndim means the number of dimensions
chipo.ndim

2

In [44]:
# columns 
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [45]:
# size: This attribute is used to display the total number of elements or items present in a data 
chipo.size

23110

In [46]:
# empty: his attribute is used to check whether the data frame is empty or not.
chipo.empty # returns true if the data frame is empty and false if the DataFrame is not empty.

False

In [53]:
# index: The index attribute is used to display the row labels of a data frame objec
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [49]:
# axes:This attribute is used when we want to fetch the values of all row labels and all column labels at a time.
chipo.axes

[RangeIndex(start=0, stop=4622, step=1),
 Index(['order_id', 'quantity', 'item_name', 'choice_description',
        'item_price'],
       dtype='object')]

In [54]:
# describe()  is used for calculating some statistical data
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [48]:
# values: This attribute is used to represent the values/data of dataframe in NumPy array form.
# chipo.values

In [ ]:
# T: This attribute is used to change the rows into columns and columns into rows.
# chipo.T

All done | :)